<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>User Registered Data</title>
</head>
<body>
<div align="center">
    <h1>Registered User Information</h1>
    <div>
        <p>Product_Name: <strong th:text="${userForm.Product_Name}"></strong></p>
        <p>Description: <strong th:text="${userForm.Description}"></strong></p>
        <p>price: <strong th:text="${userForm.price}"></strong></p>
        <p>discount: <strong th:text="${userForm.discount}"></strong></p>
        <p>active: <strong th:text="${userForm.active}"></strong></p>
        <p>Category: <strong th:text="${userForm.Category}"></strong></p>

        
    </div>
</div>
</body>
</html>